<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="#">
        <title>FEND Capstone - Travel APP</title>
    </head>
    <body>

        <header>
            <h1>Travel Planner</h1>
            <div class="header">
                <h3>My trips</h3>
                <h3>+add trip</h3>
            </div>

        </header>


    <section class="trip">
        <article class="add-info">

            <div class="picture">
                <img id="img" alt="Great picture" />
            </div>

            <div class="add-more-info">
                <button id="add" name="lodging">
                    +add lodging info</button>
                <button id="add" name="list">
                    +add packing list</button>
                <button id="add"s name="notes">
                    +add notes</button>

            </div>

        </article>

        <div class="save-remove-trip">
            <button type="button" name="remove" id="remove">remove trip
            </button>
        </div>

        <article class="current-trip">

            <h2>My trip to: </h2>
            <div class="destination">

            </div>
            <h2>Departing date: </h2>
            <div class="departure">

            </div>
            <h2>Returning date: </h2>
            <div class="comeback">

            </div>

            <div class="save-remove-trip">
                <button type="button" name="remove" id="remove">remove trip
                </button>
            </div>
            <div class="time-away">
                <div class="destination">

                </div>
                <div class="days-away">

                </div>
            </div>
            <div class="weather">

                <h4>16 day weather forecast for
                    <div class="destination"></div>
                </h4>

                <h5>Date:
                    <div class="forecast-date"></div>
                </h5>

                <h5>High: <div class="max-temp"></div>
                </h5>

                <h5>Low: <div class="min-temp"></div>
                </h5>

                <h5>Description:
                    <div class="weather-description"></div>
                    <div class="weather-icon"></div>
                </h5>
            </div>
        </article>

    </section>

    <section class="new-trip">
            <form id="new-trip" onsubmit="return Client.generate(event)">
                <div class="new-trip-info">
                    <h3>My new trip to:</h3>
                    <input type="text" id="destination" name="destination"
                        placeholder="Enter city or country of your destination">
                    <h3>Departing date:</h3>
                    <input type="date" id="departure" name="departure">
                    <h3>Comeback date:</h3>
                    <input type="date" id="comeback" name="comeback">
                </div>
                <div class="save-remove-trip">
                    <button type="submit" name="save" id="new-save"
                        onsubmit="Client.generate(event)">
                        save trip</button>
                    <button type="submit" name="remove" id="new-remove">
                        remove trip</button>
                </div>
            </form>
    </section>
    <script>

    </script>
    </body>
</html>
