<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>FEND Capstone - Travel APP</title>
    </head>
    <body>

        <header>
            <h1>Travel Planner</h1>
            <h3>My trips</h3>
            <h3>+add trip</h3>
        </header>

        <main>
            <section class="trip">

                <article class="add-info">

                    <div class="picture">

                    </div>

                    <div class="add-more-info">
                        <button type="button" name="lodging">
                            +add lodging info</button>
                        <button type="button" name="list">
                            +add packing list</button>
                        <button type="button" name="notes">
                            +add notes</button>

                    </div>

                </article>

                <article class="current-trip">
                    <div class="destination">


                    </div>
                    <div class="departure">

                    </div>
                    <div class="flight-info">

                    </div>
                    <div class="save-remove-trip">
                        <button type="button" name="save" id="save">save trip</button>
                        <button type="button" name="remove" id="save">remove trip</button>

                    </div>
                    <div class="days-away">

                    </div>
                    <div class="weather">

                    </div>

                </article>
            </section>

            <section class="new-trip">
                <div class="new-trip-info">
                    <h3>My trip to:</h3>
                    <input type="text" id="location" name="trip" placeholder="Enter Location">
                    <h3>Departing:</h3>
                    <input type="text" id="departure" name="data" placeholder="MM/DD/YYYY">
                </div>
                <div class="save-remove-trip">
                    <button type="button" name="save">save trip</button>
                    <button type="button" name="remove">remove trip</button>

                </div>
            </section>
        </main>



    </body>
</html>
