.trip {
    background-color: #ffe6ea;
    grid-area: tr;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
    grid-template-areas:
    "add tr";

    .add-info {
        display: flex;
        flex-flow: column;
        align-items: center;
        max-width: 30 vw;
        grid-area: add;

        .picture {
            max-width: 30vw;
        }

        #img {
            padding: 10px;
            max-width: 90%;
        }
        .add-more-info {
            display: flex;
            flex-flow: column;
            padding:20px;

            #add {
                border-radius: 5px;
                margin: 6px;
            }
        }
    }
}

.save-remove-trip {
    grid-area: rm;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-trip {
    grid-area: tr;
    max-width: 70vw;

    .destination {
        grid-area: 1 2;
    }
}
