section.new-trip {
    background-color: #e6e6e6;
    grid-area: nt;
    padding-bottom: 20px;

    .new-trip-info {
        display: grid;
        grid-template-columns: repeat(2 1fr);
        grid-template-rows: 3 auto;
        grid-template-areas:
        "trip location"
        "departure date"
        "comeback date";
        gap: 10px;
        padding: 10px;

        #departure,
        #comeback,
        #destination {
            width: 35vw;
        }
    }

    .save-remove-trip {
        padding-bottom: 10px;
    }
}
