.weather {
    grid-area: ww;
    width: 100vw;
    padding-left: 0px;
    #weather {
        width: 100vw;
    }

    .row {
        display: flex;
        flex-flow: row;
        background-color: inherit;
        justify-content: center;
    }

    .cell {
        display: flex;
        flex-flow: column;
        background-color: #ffb3b3;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
        flex-grow: 1;
        align-items: center;
    }

    .date {
        font-weight: bold;
    }

    .weatherButton{
        font-weight: bold;
        line-height: 3em;
    }
}
